spectral_connectivity
numpydoc==1.1.0
sphinx
docutils
myst_nb
MyST-Parser
pydata-sphinx-theme
sphinx-autobuild
sphinx-copybutton
sphinx-design
sphinx-examples
sphinx-autodoc-typehints
nbsphinx
ipython
jupytext
jupyter
jupyterlab
matplotlib
numpy
ipykernel
nb_conda