name: PR Test

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  run-tests:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]  #, macos-latest, windows-latest]
    env:
      OS: ${{ matrix.os }}
      PYTHON: '3.7'
    steps:
    - name: Cancel Workflow Action
      uses: styfle/cancel-workflow-action@0.6.0
      with:
        access_token: ${{ github.token }}
    - name: Checkout
      uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - name: Set up conda environment
      uses: conda-incubator/setup-miniconda@v2
      with:
        python-version: '3.7'
        activate-environment: spectral_connectivity
        environment-file: environment.yml
        miniforge-variant: Mambaforge
        miniforge-version: latest
    - name: Install spectral_connectivity
      shell: bash -l {0}
      run: |
        pip install -e .
    - name: Run tests
      shell: bash -l {0}
      run: |
        pytest --cov=spectral_connectivity tests/ --cov-report lcov
    - name: Coveralls
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        path-to-lcov: coverage.lcov
    - name: Test notebooks
      shell: bash -l {0}
      run: |
        jupyter nbconvert --to notebook --ExecutePreprocessor.kernel_name=python3 --execute examples/Tutorial_On_Simulated_Examples.ipynb
        jupyter nbconvert --to notebook --ExecutePreprocessor.kernel_name=python3 --execute examples/Tutorial_Using_Paper_Examples.ipynb
